<div id="infobox">
  <%
    var day = barrelsPerDay
    var sec = day / (24 * 60 * 60)
    var mils = (day / 1000000).toFixed(1)
    var ones = Math.round(sec)

    var co2perBarrel = 317
    var co2perSec = sec * co2perBarrel
    var co2mgsec = Math.round(co2perSec / 1000)
    var co2kgday = barrelsPerDay * co2perBarrel
    var co2tgday = Math.round(co2kgday / 10**9)
  %>
  <div class="infobox-icon">?</div>
  <div class="infobox-body infobox-hidden">
    <h2>World Crude Oil Consumption Rate</h2>

    <h4><%= mils %> million barrels per day,<br>
      <%= ones %> barrels per second,<br>
      159 litres or 42 gallons per barrel.</h4>

    <h4>They emit <a href="http://numero57.net/2008/03/20/carbon-dioxide-emissions-per-barrel-of-crude/"><%= co2perBarrel %></a> kg CO₂ per barrel,<br>
      <%= co2mgsec %> tons per second,<br>
      <%= co2tgday %> million tons per day.</h4>

    <h4>A blue whale weights 100 tons.<br>
      Humankind weight 340 million tons.<br>
      Our air <a href="https://en.wikipedia.org/wiki/Atmosphere_of_Earth">5 150 000</a> billion tons.</h4>

    <p>The flowing barrels visualize the average crude oil consumption rate in 2014. The oil consumption statistics are provided by <a href="https://www.indexmundi.com/energy/?product=oil&graph=consumption&display=rank">Index Mundi</a>. Animated on <a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API">canvas</a> with <a href="https://www.npmjs.com/package/sprinkler">Sprinkler</a>. Emoji graphics by <a href="https://openmoji.org/">OpenMoji</a>.</p>

    <p>
      Fork me in <a href="https://github.com/axelpale/crude-oil-consumption">GitHub</a>.<br>
      This is <a href="https://opensource.org/licenses/MIT">MIT licensed</a> open-source software.</p>
    <p>
      With ❤️🌍 by <a href="http://akselipalen.com/">Axel&nbsp;Pale</a> 2019.
    </p>
  </div>
</div>
